.container{
    margin-top: 50px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top_container{
    width: 100%;
    padding: 0px 10px 5px 10px;
    margin-bottom: 10px;
    border-bottom: 2px rgb(225, 225, 225) solid;

    display: flex;
    flex-direction: row;
}
.top_container__title{
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin-right: auto;
}

.empty_message{
    font-size: 24px;
}

/* 90% of 611px is 550px so the transition from wide screen to a small one is smooth */ 
@media (max-width: 611px) {
    .container{
        width: 90%;
    }
}